.email-list-item {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: left;
  
  min-width: 40%;
  width: fit-content;
  max-width: 70%;
  
  padding: 10px;
  margin: 8px;

  position: relative;
  
  .email-list-item-sender {
    font-weight: bold;
    color: rgb(0, 204, 255);
    font-size: 14px;
  }

  .email-list-item-content {
    color: white;
    font-size: 16px;
  }

  .email-list-item-date {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 8px;
    color: white;
  }
}
