.email-list-item {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  width: fit-content;

  margin-left: 0px;

  .email-list-item-sender {
    font-weight: bold;
    color: rgb(0, 204, 255);
  }

  .email-list-item-date {
    font-size: 8px;
    text-align: right;
  }
}
